@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: stretch;
  font-family: "Quicksand", sans-serif;
}

.meet-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meet-container {
  border-radius: 10px;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 400px;
  font-size: 1.2rem;
  border: thick solid #f2709c;
  box-shadow: 0px 0px 100px 1px #f8c0d2;
}

.meet-container > * {
  margin: 0.8em 0;
}

.meet-title {
  text-align: center;
}

.meet-input {
  padding: 0.7em;
  border: none;
  outline: none;
  background: #e9e9ee;
  border-radius: 5px;
}

.meet-button {
  border: none;
  background: #f2709c;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 0.2em 0;
  cursor: pointer;
  margin: 0.4em 0;
}

.meet-button:hover {
  color: white;
}

.footer {
  width: 100%;
}
